.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {
  width: 130px;
  height:1000px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #332e30;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 20px 8px 20px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


.inboxnav{
  width: 380px;
  height:1000px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 130px;
  background: #ffffff;
  overflow-x: hidden;
  padding: 8px 0;
  border: 1px solid black;
}

.main-nav{
  width: 100%;
  height:1000px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 510px;
  background: #ffffff;
  overflow-x: hidden;
  padding: 8px 0;
  border: 1px solid black;
}



.icon-bar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  position: absolute;
  left:20px;
  top:20px;
}



.icon-bar a:hover {
  background-color: #000;
}


.card {
  width: 100%;
  position: relative;
  top:40px;
  size: fixed;
 
}

.card2{
  width: 100%;
  position:absolute;
  top:220px;
}
.card3{
  width: 100%;
  position:absolute;
  top:400px;
}


.container {
  padding: 2px 20px;
  position: relative;
 
}

.imgbox{
  width: 50px;
  max-width: 50px;
  display: inline-block;
  float: left;
}

.header2{
  position: relative;
  top: -26px;
  left: 24px;
  float: left;

}

.header4{
  position: relative;
  width: 100%;
  margin: 20px;
  left: 20px;

}

.header4-2{
  position: relative;
  top: 6px;
  left: -200px;
  width: 100%;
}
.header4-3{
  position: relative; 
  top:-45px;
  left:74px;
}

.inp{
  border-radius: 25px;
  height: 30px;
  position: absolute;
  left: 700px; 
}
.searchicon{
  position: absolute;
  left:680px;
  top:20px
}

.detailbox{

  background-color: rgb(209, 215, 216);
  width: 100%;
  height: 400px;
  text-align: center;
}

.detailbar{
  width: 60%;
  height:60px;
  position: absolute;
  z-index: 1;
  top: 508px;
  left: 50px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
 
}

.detailicon{
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  position: absolute;
  left:40px;
  top:20px;
  float: left;
}

.text{
  width: 100%;
  position: absolute;
  left: 100px;
  top:620px;

}
